[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
pytest = "*"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-benchmark = "*"

[requires]
python_version = "3.8"

[packages]
numpy = "*"
